@import "compass/utilities/general/clearfix"

$cinnamon: #AA5303

a:hover
  cursor: pointer

.btn
  background: linear-gradient(to bottom, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%)
  background: -webkit-linear-gradient(top, rgba(240,183,161,1) 0%,rgba(140,51,16,1) 50%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 100%)
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .5)
  margin: 10px
  border-radius: 15px
  padding: 10px
  color: white
  &:hover
    color: white
    box-shadow: 3px 3px 0px rgba(0, 0, 0, .6)
  &:active
    color: white
    background: -webkit-linear-gradient(top, rgba(191,110,78,1) 0%,rgba(117,34,1,1) 49%,rgba(140,51,16,1) 50%,rgba(240,183,161,1) 100%)
    box-shadow: none
    margin-top: 12px


body
  font-family: Dosis
  font-size: 20px
  margin-left: auto
  margin-right: auto
  max-width: 1000px
  height: 100%
  background-image: url(/images/background.png)

#main
  margin: 10px
  height: 100%

//header stuff
header
  background-color: rgba(255, 255, 255, .6)
  border-radius: 30px
  padding: 10px
  margin: 10px
  @include clearfix
  box-shadow: 10px 10px 10px $cinnamon

.page-title
  font-size: 80px
  font-weight: bold
  font-family: Norican
  float: left
  width: 300px

nav.links
  float: right
  font-size: 26px
  padding-top: 26px
  a
    text-decoration: none
    color: black
    padding-left: 20px
  a:hover
    text-decoration: underline

// edit template
.title-input, .permalink-input, .body-input
  width: 100%
  margin-bottom: 20px
  border-radius: 15px
  background-color: rgba(255, 255, 255, 0.6)
  font-size: 20px
  padding-left: 10px

.title-input
  font-size: 30px

.body-input
  border: none
  border-style: inset
  border-width: 1px
  height: 300px
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  font-size: 15px

.inputs
  height: 100%
  width: 45%
  float: left

.controls
  margin-bottom: 10px

.title-bar
  border-bottom: solid black 5px
  margin-bottom: 20px
  @include clearfix
  .edit
    float: right
  .title
    font-size: 52px
    margin-bottom: 10px
    float: left

.templates
  display: none

.clearfix
  *zoom: 1
  &:before, &:after
    display: table
    content: ""
  &:after
    clear: both

.articleView
  height: 100%
  margin-top: 30px
  padding: 15px
  background-color: rgba(255, 255, 255, .6)
  border-radius: 20px
  box-shadow: 10px 10px 10px $cinnamon

  .preview
    width: 45%
    padding: 10px
    float: left
    margin-left: 10px

  .body
    line-height: 24px

    h1
      font-size: 45px
      font-weight: bold
      line-height: 60px

    h2
      font-size: 35px
      font-weight: bold
      line-height: 45px

    h3
      font-size: 27px
      line-height: 35px
    ul
      list-style-type: disc
      padding: 15px 0 15px 40px
    code
      font-size: 16px
      font-family: courier
      border: 1px solid gray
      padding: 2px 4px
      margin: 0px 4px
      background: rgba(255, 255, 255, .6)
      box-shadow: 1px 1px 5px black
