.articleEdit
  %input.titlebox{:type => "text", :value => "{{title}}"}
  %input.permalink{:type => "text", :value => "{{permalink}}"}
  %textarea.editbox
    {{body}}
  .controls
    %a.save Save
    %a.cancel{:href => '#{{permalink}}'} Cancel
